<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.tsp.mapper.logWarning.LogWarningMapper">

    <resultMap type="cn.ffcs.tsp.entity.logWarning.LogWarning" id="logWarningResultMap">
    
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="level" property="level" javaType="java.lang.String"/>
        <result column="logid" property="logid" javaType="java.lang.String"/>
        <result column="keyword" property="keyword" javaType="java.lang.String"/>
        <result column="log_remark" property="logRemark" javaType="java.lang.String"/>
        
    </resultMap>
    
    <sql id="column">
       	t.id,t.level,t.logid,t.keyword,t.log_remark
    </sql>
    
    <sql id="sql_update">
       	<set>
            <if test="logid != null  and logid != '' ">
                <![CDATA[
                    t.logid = #{logid},
                ]]>
            </if>
            <if test="level != null  and level != '' ">
                <![CDATA[
		            t.level = #{level},
		        ]]>
            </if>
            <if test="keyword != null  and keyword != '' ">
                <![CDATA[
		            t.keyword= #{keyword},
                ]]>
            </if>
            <if test="logRemark != null  and logRemark != '' ">
                <![CDATA[
		            t.log_remark = #{logRemark},
		        ]]>
            </if>
        </set>
    </sql>
    
     <!--查询条件-->
    <sql id="sql_where">
        <where>
            <if test="logRemark != null and logRemark != '' ">
                <![CDATA[
                  and t.log_remark like CONCAT('%',#{logRemark},'%' )
                ]]>
            </if>
             <if test="logid != null and logid != '' ">
                <![CDATA[
                  and t.logid=#{logid}
                ]]>
            </if>
            <if test="keyword != null and keyword != '' ">
             	<![CDATA[
              		and t.keyword like CONCAT('%',#{keyword},'%' )
               ]]>
            </if>
        </where>
    </sql>
    
 	<select id="findAll" resultMap="logWarningResultMap">
        select
        <include refid="column"/>
        from t_log_warning t
    </select>
    
    <select id="findById" resultMap="logWarningResultMap">
    	select
        <include refid="column"/>
        from t_log_warning t
        where t.id = #{id}
    </select>
    
    <select id="findByIds"  resultMap="logWarningResultMap">
        select
        <include refid="column"/>
        from t_log_warning t
        where t.id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    
    <insert id ="save" parameterType="cn.ffcs.tsp.entity.logWarning.LogWarning" >
    	insert into t_log_warning(level,logid,keyword,log_remarke)
    	values(#{item.level},#{item.logid},#{item.keyword},#{item.logRemark})
    </insert>
    
    <insert id="saveList" parameterType="java.util.List">
    insert into t_log_warning(level,logid,keyword,log_remarke)
    values
    <foreach item="item" index="index" collection="list" separator="," >
        (#{item.level},#{item.logid},#{item.keyword},#{item.logRemark})
    </foreach>
    </insert>
    
    <update id="update" parameterType="cn.ffcs.tsp.entity.logWarning.LogWarning">
    	update t_log_warning t
    	<include refid="sql_update"/>
    	where t.id=#{id}
    </update>
    
    <update id="updateByIds">
    	update t_log_warning t
    	set t.level="1"
    	where t.id in
    	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
    		#{item}
    	</foreach>
    </update>
    
    <delete id="deleteByIds" parameterType="java.util.List">
    	delete from t_log_warning where id in
    	 <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    
    <select id="findByMap" parameterType="java.util.Map" resultMap="logWarningResultMap">
    	select 
    	<include refid="column"/>
    	from t_log_warning t
    	<include refid="sql_where"/>
    </select>
    
    <select id="findByPage" parameterType="java.util.Map" resultMap="logWarningResultMap">
    	select 
    	<include refid="column"/>
    	from t_log_warning t
    	<include refid="sql_where"/>
    	limit #{startRowNum},#{pageSize}
    </select>
</mapper>